/* 404 error page */
.error-boundary,
.error-boundary:before,
.error-boundary:after,
.error-boundary *,
.error-boundary *:after,
.error-boundary *::before {
	box-sizing: border-box;
}

.error-boundary {
	display: flex;
	align-items: center;
	background: #e3f2fd;
	min-width: 275px;
	height: 100vh;
	overflow: hidden;
	color: #138ff2;
	font-family: Roboto;
	direction: rtl;
}

.error-boundary .wrapper {
	flex-grow: 2;
	width: 40vw;
	max-width: 500px;
	margin: 0 auto;
}

.error-boundary h1 {
	margin: 0;
	font-size: 6em;
	font-weight: 100;
}

.error-boundary p {
	width: 95%;
	font-size: 1.5em;
	line-height: 1.4;
}

.error-boundary p .buttons {
	white-space: nowrap;
	display: block;
	margin-top: 30px;
}

.error-boundary span {
	display: block;
	text-transform: uppercase;
	color: #b9ddfb;
	letter-spacing: 1.5px;
	text-align: right;
}

.error-boundary a {
	display: inline-block;
	padding: 0.8em 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	border: 3px solid #b9ddfb;
	color: #138ff2;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.2em;
	position: relative;
	overflow: hidden;
	transition: 0.3s;
}

.error-boundary a:hover {
	color: #e3f2fd;
}

.error-boundary a:before {
	top: 0;
}

.error-boundary a:before {
	content: '';
	background: #138ff2;
	height: 100%;
	width: 100%;
	position: absolute;
	top: -100%;
	left: 0;
	transition: 0.3s;
	z-index: -1;
}

/* 404 error page */